@charset "utf-8";

@media (max-width: 500px) {
	:root {
		--font-size: 0.9px; } }
@media (max-width: 400px) {
	:root {
		--font-size: 0.8px; } }

:root {
	--white-color: #fff;
	--black-color: #000;

	--grey-color-50: #fafafa;
	--grey-color-100: #f5f5f5;
	--grey-color-200: #eee;
	--grey-color-300: #e0e0e0;
	--grey-color-400: #bdbdbd;
	--grey-color-500: #9e9e9e;
	--grey-color-600: #757575;
	--grey-color-700: #616161;
	--grey-color-800: #424242;
	--grey-color-900: #212121;

	--primary-color: #f4511e;
	--primary-color-dark: #b91400;
	--primary-color-light: #ff844c;
	--primary-color-text: var(--grey-color-50);

	--error-color: #f44336;

	--text-color: var(--grey-color-900);
	--text-color-light: var(--grey-color-600);
	--text-color-inverted: var(--grey-color-50);

	--hover-color: var(--grey-color-200);
	--elevated-color: var(--white-color);
	--border-color: var(--grey-color-300);
	--background-color: var(--grey-color-50);

	--bold: 600;
	--line-height: 1;
	--font-size: 16rem;
	--box-sizing: border-box;

	--button-dimension: 36rem;
	--button-dimension-icon: 24rem;

	--border-width: 1rem;
	--border-radius: 5rem;
	--border-style: solid;

	--transition-duration: 0.2s;

	--space-quad: calc(var(--space) * 4);
	--space-triple: calc(var(--space) * 3);
	--space-double: calc(var(--space) * 2);
	--space-one-three-quart: calc(var(--space) * 1.75);
	--space-one-half: calc(var(--space) * 1.5);
	--space-one-quart: calc(var(--space) * 1.25);
	--space: 20rem;
	--space-three-quart: calc(var(--space) * 0.75);
	--space-half: calc(var(--space) * 0.5);
	--space-quart: calc(var(--space) * 0.25);
	--space-fifth: calc(var(--space) * 0.2); }

html {
	font-size: 1px;
	color: var(--text-color);
	box-sizing: var(--box-sizing);
	line-height: var(--line-height);
	font-family: var(--font-family);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	@media (max-width: 700px) {
		font-size: 0.9px; } }

*,
*::after,
*::before {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit; }

a,
button {
	text-decoration: none; }
a:hover,
button:hover {
	outline: none;
	text-decoration: none;
	background-color: transparent; }
a:focus,
button:focus {
	outline: none;
	text-decoration: none;
	background-color: transparent; }
a:hover,
button:focus {
	outline: none;
	text-decoration: none;
	background-color: transparent; }

#Root {
	width: 100vw;
	height: 100vh;
	overflow: hidden; }

.OverflowHidden {
	overflow: hidden; }

.Content {
	@media (min-width: 1360px) {
		width: 1300rem;
		margin-left: auto;
		margin-right: auto; }
	@media (max-width: 1360px) {
		width: auto;
		margin-left: var(--space);
		margin-right: var(--space); } }

.Elevated {
	box-shadow:
		0 0 4rem rgba(#212121, 0.14),
		0 0 3rem -2rem rgba(#212121, 0.12),
		0 0 8rem rgba(#212121, 0.2);
	background-color: var(--elevated-color); }

.Rounded {
	border-radius: var(--border-radius); }

.Card {
	overflow: hidden;
	transition-property: box-shadow;
	border-radius: var(--border-radius);
	background-color: var(--elevated-color);
	transition-duration: var(--transition-duration);
	box-shadow:
		0 0 4rem rgba(#212121, 0.14),
		0 0 3rem -2rem rgba(#212121, 0.12),
		0 0 8rem rgba(#212121, 0.2);
	&:hover {
		box-shadow:
			0 0 10rem rgba(#212121, 0.14),
			0 0 18rem rgba(#212121, 0.12),
			0 0 5rem -1rem rgba(#212121, 0.2); } }

.Hover {
	cursor: pointer;
	transition: var(--transition-duration) background-color;
	&:hover {
		background-color: var(--hover-color); } }

.ItemBorder {
	border-bottom-width: var(--border-width);
	border-bottom-style: var(--border-style);
	border-bottom-color: var(--border-color);
	&:last-child {
		border-bottom: 0; } }

.UpperCase {
	text-transform: uppercase; }

.LowerCase {
	text-transform: lowercase; }

.LightColor {
	color: var(--text-color-light); }

.LightWeight {
	font-weight: 400; }

.Error {
	color: var(--error-color); }

.FullWidthAndHeight {
	width: 100%;
	height: 100%; }

.PaddingTriple {
	padding: var(--space-triple); }
.PaddingDouble {
	padding: var(--space-double); }
.Padding {
	padding: var(--space); }
.PaddingThreeQuart {
	padding: var(--space-three-quart); }
.PaddingHalf {
	padding: var(--space-half); }
.PaddingQuart {
	padding: var(--space-quart); }
.PaddingFifth {
	padding: var(--space-fifth); }

.PaddingTopBottomDouble {
	padding: var(--space-double) 0; }
.PaddingTopBottom {
	padding: var(--space) 0; }
.PaddingTopBottomHalf {
	padding: var(--space-half) 0; }
.PaddingTopBottomQuart {
	padding: var(--space-quart) 0; }

.PaddingLeftRightDouble {
	padding: 0 var(--space-double); }
.PaddingLeftRight {
	padding: 0 var(--space); }
.PaddingLeftRightHalf {
	padding: 0 var(--space-half); }
.PaddingLeftRightQuart {
	padding: 0 var(--space-quart); }

.PaddingTopDouble {
	padding-top: var(--space-double); }
.PaddingTopOneHalf {
	padding-top: var(--space-one-half); }
.PaddingTop {
	padding-top: var(--space); }
.PaddingTopThreeQuart {
	padding-top: var(--space-three-quart); }
.PaddingTopHalf {
	padding-top: var(--space-half); }
.PaddingTopQuart {
	padding-top: var(--space-quart); }

.PaddingRightDouble {
	padding-right: var(--space-double); }
.PaddingRightOneHalf {
	padding-right: var(--space-one-half); }
.PaddingRight {
	padding-right: var(--space); }
.PaddingRightThreeQuart {
	padding-right: var(--space-three-quart); }
.PaddingRightHalf {
	padding-right: var(--space-half); }
.PaddingRightQuart {
	padding-right: var(--space-quart); }

.PaddingBottomDouble {
	padding-bottom: var(--space-double); }
.PaddingBottomOneHalf {
	padding-bottom: var(--space-one-half); }
.PaddingBottom {
	padding-bottom: var(--space); }
.PaddingBottomThreeQuart {
	padding-bottom: var(--space-three-quart); }
.PaddingBottomHalf {
	padding-bottom: var(--space-half); }
.PaddingBottomQuart {
	padding-bottom: var(--space-quart); }

.PaddingLeftDouble {
	padding-left: var(--space-double); }
.PaddingLeftOneHalf {
	padding-left: var(--space-one-half); }
.PaddingLeft {
	padding-left: var(--space); }
.PaddingLeftThreeQuart {
	padding-left: var(--space-three-quart); }
.PaddingLeftHalf {
	padding-left: var(--space-half); }
.PaddingLeftQuart {
	padding-left: var(--space-quart); }

.MarginTriple {
	margin: var(--space-triple); }
.MarginDouble {
	margin: var(--space-double); }
.Margin {
	margin: var(--space); }
.MarginThreeQuart {
	margin: var(--space-three-quart); }
.MarginHalf {
	margin: var(--space-half); }
.MarginQuart {
	margin: var(--space-quart); }
.MarginFifth {
	margin: var(--space-fifth); }

.MarginTopBottomDouble {
	margin: var(--space-double) 0; }
.MarginTopBottom {
	margin: var(--space) 0; }
.MarginTopBottomThreeQuart {
	margin: var(--space-three-quart) 0; }
.MarginTopBottomHalf {
	margin: var(--space-half) 0; }
.MarginTopBottomQuart {
	margin: var(--space-quart) 0; }

.MarginLeftRightDouble {
	margin: 0 var(--space-double); }
.MarginLeftRight {
	margin: 0 var(--space); }
.MarginLeftRightThreeQuart {
	margin: 0 var(--space-three-quart); }
.MarginLeftRightHalf {
	margin: 0 var(--space-half); }
.MarginLeftRightQuart {
	margin: 0 var(--space-quart); }

.MarginTopDouble {
	margin-top: var(--space-double); }
.MarginTopOneHalf {
	margin-top: var(--space-one-half); }
.MarginTop {
	margin-top: var(--space); }
.MarginTopThreeQuart {
	margin-top: var(--space-three-quart); }
.MarginTopHalf {
	margin-top: var(--space-half); }
.MarginTopQuart {
	margin-top: var(--space-quart); }

.MarginRightDouble {
	margin-right: var(--space-double); }
.MarginRightOneHalf {
	margin-right: var(--space-one-half); }
.MarginRight {
	margin-right: var(--space); }
.MarginRightThreeQuart {
	margin-right: var(--space-three-quart); }
.MarginRightHalf {
	margin-right: var(--space-half); }
.MarginRightQuart {
	margin-right: var(--space-quart); }

.MarginBottomDouble {
	margin-bottom: var(--space-double); }
.MarginBottomOneHalf {
	margin-bottom: var(--space-one-half); }
.MarginBottom {
	margin-bottom: var(--space); }
.MarginBottomThreeQuart {
	margin-bottom: var(--space-three-quart); }
.MarginBottomHalf {
	margin-bottom: var(--space-half); }
.MarginBottomQuart {
	margin-bottom: var(--space-quart); }

.MarginLeftDouble {
	margin-left: var(--space-double); }
.MarginLeftOneHalf {
	margin-left: var(--space-one-half); }
.MarginLeft {
	margin-left: var(--space); }
.MarginLeftQuart {
	margin-left: var(--space-three-quart); }
.MarginLeftHalf {
	margin-left: var(--space-half); }
.MarginLeftQuart {
	margin-left: var(--space-quart); }

.Flex {
	display: flex; }
.FlexColumn {
	display: flex;
	flex-direction: column; }
.FlexColumnGap {
	display: flex;
	gap: var(--space);
	flex-direction: column; }
.FlexColumnGapHalf {
	display: flex;
	flex-direction: column;
	gap: var(--space-half); }
.FlexColumnGapQuart {
	display: flex;
	flex-direction: column;
	gap: var(--space-quart); }
.FlexRow {
	display: flex;
	align-items: center; }
.FlexRowGapHalfCenter {
	display: flex;
	align-items: center;
	justify-content: center; }
.FlexRowSpaceEvenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly; }
.FlexRowSpaceAround {
	display: flex;
	align-items: center;
	justify-content: space-around; }
.FlexRowSpaceBetween {
	display: flex;
	align-items: center;
	justify-content: space-between; }
.FlexRowGap {
	display: flex;
	gap: var(--space);
	align-items: center; }
.FlexRowGapHalf {
	display: flex;
	align-items: center;
	gap: var(--space-half); }
.FlexRowGapQuart {
	display: flex;
	align-items: center;
	gap: var(--space-quart); }
.FlexRowGapFifth {
	display: flex;
	align-items: center;
	gap: var(--space-fifth); }
.FlexRowCenter {
	display: flex;
	align-items: center;
	justify-content: center; }
.FlexRowGapCenter {
	display: flex;
	gap: var(--space);
	align-items: center;
	justify-content: center; }
.FlexRowGapHalfCenter {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: center; }
.FlexRowGapQuartCenter {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: center; }
.FlexRowRight {
	display: flex;
	align-items: center;
	justify-content: flex-end; }
.FlexRowRightGap {
	display: flex;
	gap: var(--space);
	align-items: center;
	justify-content: flex-end; }
.FlexRowRightGapHalf {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: flex-end; }
.FlexRowRightGapQuart {
	display: flex;
	align-items: center;
	gap: var(--space-quart);
	justify-content: flex-end; }

.HeadingOne {
	font-size: 96rem;
	font-weight: 300;
	letter-spacing: -1.5rem; }
.HeadingOneInverted {
	font-weight: 300;
	font-size: 96rem;
	letter-spacing: -1.5rem;
	color: var(--text-color-inverted); }
.HeadingTwo {
	font-weight: 300;
	font-size: 60rem;
	letter-spacing: -0.5rem; }
.HeadingTwoInverted {
	font-weight: 300;
	font-size: 60rem;
	letter-spacing: -0.5rem;
	color: var(--text-color-inverted); }
.HeadingThree {
	font-size: 48rem;
	letter-spacing: 0; }
.HeadingThreeInverted {
	font-size: 48rem;
	letter-spacing: 0;
	color: var(--text-color-inverted); }
.HeadingFour {
	font-size: 34rem;
	letter-spacing: 0.25rem; }
.HeadingFourInverted {
	font-size: 34rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted); }
.HeadingFive {
	font-size: 24rem;
	letter-spacing: 0; }
.HeadingFiveInverted {
	font-size: 24rem;
	letter-spacing: 0;
	color: var(--text-color-inverted); }
.HeadingSix {
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.15rem; }
.HeadingSixInverted {
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.15rem;
	color: var(--text-color-inverted); }

.BodyOne {
	font-size: 16rem;
	letter-spacing: 0.5rem; }
.BodyOneBold {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold); }
.BodyOneLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-light); }
.BodyOneInverted {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-inverted); }
.BodyOneBoldLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }
.BodyTwo {
	font-size: 14rem;
	letter-spacing: 0.25rem; }
.BodyTwoBold {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold); }
.BodyTwoLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-light); }
.BodyTwoInverted {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted); }
.BodyTwoBoldLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }

.Border {
	border-width: var(--border-width);
	border-style: var(--border-style);
	border-color: var(--border-color); }
.BorderTop {
	border-top-width: var(--border-width);
	border-top-style: var(--border-style);
	border-top-color: var(--border-color); }
.BorderRight {
	border-right-width: var(--border-width);
	border-right-style: var(--border-style);
	border-right-color: var(--border-color); }
.BorderBottom {
	border-bottom-width: var(--border-width);
	border-bottom-style: var(--border-style);
	border-bottom-color: var(--border-color); }
.BorderLeft {
	border-left-width: var(--border-width);
	border-left-style: var(--border-style);
	border-left-color: var(--border-color); }