@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400,500,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #333;
		--elevated-color: #fff;
		--hover-color: #eee;
		--text-color-white: #fff;
		--text-color-light: #757575;
		--background-color: #fafafa;
		--border-color: #e0e0e0; } }

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--elevated-color: #212121;
		--hover-color: #424242;
		--text-color-white: #333;
		--text-color-light: #757575;
		--background-color: #424242;
		--border-color: #424242; } }

@media (max-width: 500px) {
	:root {
		--font-size: 0.9px; } }
@media (max-width: 400px) {
	:root {
		--font-size: 0.8px; } }

:root {
	--text-color-medium: rgba(var(--text-color), 0.6);
	--text-color-disabled: rgba(var(--text-color), 0.38);

	--font-size: 16rem;
	--border-radius: 5rem;
	--transition-duration: 0.2s;

	--space: 20rem;

	--space-quad: calc(var(--space) * 4);
	--space-triple: calc(var(--space) * 3);
	--space-double: calc(var(--space) * 2);
	--space-one-three-quart: calc(var(--space) * 1.75);
	--space-one-half: calc(var(--space) * 1.5);
	--space-one-quart: calc(var(--space) * 1.25);
	--space-three-quart: calc(var(--space) * 0.75);
	--space-half: calc(var(--space) * 0.5);
	--space-quart: calc(var(--space) * 0.25);
	--space-fifth: calc(var(--space) * 0.2); }

html {
	font-size: 1px;
	line-height: 1;
	font-family: "Roboto";
	box-sizing: border-box;
	color: var(--text-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; }

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit; }

a {
	text-decoration: none; }
a:hover {
	text-decoration: none; }
a:focus {
	text-decoration: none; }
a:hover {
	text-decoration: none; }

#root {
	width: 100vw;
	height: 100vh; }

.elevated {
	box-shadow:
		0 0 4px rgba(0, 0, 0, 0.14),
		0 0 3px -2px rgba(0, 0, 0, 0.12),
		0 0 8px rgba(0, 0, 0, 0.2);
	background-color: var(--elevated-color); }
.elevated-rounded {
	box-shadow:
		0 0 4px rgba(0, 0, 0, 0.14),
		0 0 3px -2px rgba(0, 0, 0, 0.12),
		0 0 8px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	background-color: var(--elevated-color); }

.padding-triple {
	padding: var(--space-triple); }
.padding-double {
	padding: var(--space-double); }
.padding {
	padding: var(--space); }
.padding-three-quart {
	padding: var(--space-three-quart); }
.padding-half {
	padding: var(--space-half); }
.padding-quart {
	padding: var(--space-quart); }
.padding-top-bottom {
	padding: var(--space) 0; }
.padding-top-bottom-half {
	padding: var(--space-half) 0; }
.padding-left-right {
	padding: 0 var(--space); }
.padding-left-right-half {
	padding: 0 var(--space-half); }
.padding-top {
	padding-top: var(--space); }
.padding-right {
	padding-right: var(--space); }
.padding-bottom {
	padding-bottom: var(--space); }
.padding-left {
	padding-left: var(--space); }
.padding-top-half {
	padding-top: var(--space-half); }
.padding-right-half {
	padding-right: var(--space-half); }
.padding-bottom-half {
	padding-bottom: var(--space-half); }
.padding-left-half {
	padding-left: var(--space-half); }
.padding-top-quart {
	padding-top: var(--space-quart); }
.padding-right-quart {
	padding-right: var(--space-quart); }
.padding-bottom-quart {
	padding-bottom: var(--space-quart); }
.padding-left-quart {
	padding-left: var(--space-quart); }

.margin-triple {
	margin: var(--space-triple); }
.margin-double {
	margin: var(--space-double); }
.margin {
	margin: var(--space); }
.margin-three-quart {
	margin: var(--space-three-quart); }
.margin-half {
	margin: var(--space-half); }
.margin-quart {
	margin: var(--space-quart); }
.margin-top-bottom {
	margin: var(--space) 0; }
.margin-top-bottom-half {
	margin: var(--space-half) 0; }
.margin-left-right {
	margin: 0 var(--space); }
.margin-left-right-half {
	margin: 0 var(--space-half); }
.margin-top {
	margin-top: var(--space); }
.margin-right {
	margin-right: var(--space); }
.margin-bottom {
	margin-bottom: var(--space); }
.margin-left {
	margin-left: var(--space); }
.margin-top-half {
	margin-top: var(--space-half); }
.margin-right-half {
	margin-right: var(--space-half); }
.margin-bottom-half {
	margin-bottom: var(--space-half); }
.margin-left-half {
	margin-left: var(--space-half); }
.margin-top-quart {
	margin-top: var(--space-quart); }
.margin-right-quart {
	margin-right: var(--space-quart); }
.margin-bottom-quart {
	margin-bottom: var(--space-quart); }
.margin-left-quart {
	margin-left: var(--space-quart); }

.flex {
	display: flex; }
.flex-list {
	display: flex;
	align-items: center; }
.flex-list-center {
	display: flex;
	align-items: center;
	justify-content: center; }
.flex-list-space-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly; }
.flex-list-space-around {
	display: flex;
	align-items: center;
	justify-content: space-around; }
.flex-list-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between; }
.flex-list-gap {
	display: flex;
	align-items: center;
	gap: var(--space-half); }
.flex-list-gap-half {
	display: flex;
	align-items: center;
	gap: var(--space-quart); }
.flex-list-right {
	display: flex;
	align-items: center;
	justify-content: flex-end; }
.flex-list-right-gap {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: flex-end; }
.flex-list-right-gap-half {
	display: flex;
	align-items: center;
	gap: var(--space-quart);
	justify-content: flex-end; }

.content {
	width: 1300px;
	margin-left: auto;
	margin-right: auto; }

@media (max-width: 1360px) {
	.content {
		width: auto;
		margin-left: var(--space);
		margin-right: var(--space); } }

.rounded {
	border-radius: var(--border-radius); }

.card {
	overflow: hidden;
	transition-property: box-shadow;
	border-radius: var(--border-radius);
	transition-duration: var(--transition-duration);
	&:hover {
		box-shadow:
			0 0 10px rgba(0, 0, 0, 0.14),
			0 0 18px rgba(0, 0, 0, 0.12),
			0 0 5px -1px rgba(0, 0, 0, 0.2); } }

.hover {
	cursor: pointer;
	transition: var(--transition-duration) background-color;
	&:hover {
		background-color: var(--hover-color); } }

.item-border {
	border-bottom: 1px solid var(--border-color);
	&:last-child {
		border-bottom: 0; } }

.heading-one {
	font-weight: 300;
	font-size: 96rem;
	letter-spacing: -1.5rem; }
.heading-two {
	font-weight: 300;
	font-size: 60rem;
	letter-spacing: -0.5rem; }
.heading-three {
	font-size: 48rem;
	letter-spacing: 0; }
.heading-four {
	font-size: 34rem;
	letter-spacing: 0.25rem; }
.heading-five {
	font-size: 24rem;
	letter-spacing: 0; }
.heading-six {
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.15rem; }
.subtitle-one {
	font-size: 16rem;
	letter-spacing: 0.15rem; }
.subtitle-two {
	font-size: 14rem;
	font-weight: 500;
	letter-spacing: 0.1rem; }
.body-one {
	font-size: 16rem;
	letter-spacing: 0.5rem; }
.body-two {
	font-size: 14rem;
	letter-spacing: 0.25rem; }
.button {
	font-size: 14rem;
	font-weight: 500;
	letter-spacing: 1.25rem; }
.caption {
	font-size: 12rem;
	letter-spacing: 0.4rem; }