@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400,500,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media (max-width: 500px) {
	:root {
		--font-size: 0.9px; } }
@media (max-width: 400px) {
	:root {
		--font-size: 0.8px; } }

:root {
	--text-color: #333;
	--text-color-light: #757575;
	--text-color-inverted: #fafafa;

	--hover-color: #eee;
	--elevated-color: #fff;
	--border-color: #e0e0e0;
	--background-color: #fafafa;

	--primary-color: #546e7a;
	--primary-color-text: #fafafa;
	--primary-color-dark: #29434e;
	--primary-color-light: #819ca9;

	--secondary-color: #f4511e;
	--secondary-color-text: #fafafa;
	--secondary-color-dark: #b91400;
	--secondary-color-light: #ff844c;

	--bold: 600;
	--font-size: 16rem;
	--border-width: 1rem;
	--border-radius: 5rem;
	--button-dimension: 40rem;

	--border-style: solid;
	--transition-duration: 0.2s;

	--space-quad: calc(var(--space) * 4);
	--space-triple: calc(var(--space) * 3);
	--space-double: calc(var(--space) * 2);
	--space-one-three-quart: calc(var(--space) * 1.75);
	--space-one-half: calc(var(--space) * 1.5);
	--space-one-quart: calc(var(--space) * 1.25);
	--space: 20rem;
	--space-three-quart: calc(var(--space) * 0.75);
	--space-half: calc(var(--space) * 0.5);
	--space-quart: calc(var(--space) * 0.25);
	--space-fifth: calc(var(--space) * 0.2); }

html {
	font-size: 1px;
	line-height: 1;
	font-family: "Roboto";
	box-sizing: border-box;
	color: var(--text-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; }

*,
*::after,
*::before {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit; }

a {
	text-decoration: none; }
a:hover {
	text-decoration: none; }
a:focus {
	text-decoration: none; }
a:hover {
	text-decoration: none; }

#Root {
	width: 100vw;
	height: 100vh; }

.Content {
	width: 1300rem;
	margin-left: auto;
	margin-right: auto; }

@media (max-width: 1360px) {
	.Content {
		width: auto;
		margin-left: var(--space);
		margin-right: var(--space); } }

.Elevated {
	box-shadow:
		0 0 4rem rgba(#212121, 0.14),
		0 0 3rem -2rem rgba(#212121, 0.12),
		0 0 8rem rgba(#212121, 0.2);
	background-color: var(--elevated-color); }
.ElevatedRounded {
	box-shadow:
		0 0 4rem rgba(#212121, 0.14),
		0 0 3rem -2rem rgba(#212121, 0.12),
		0 0 8rem rgba(#212121, 0.2);
	border-radius: var(--border-radius);
	background-color: var(--elevated-color); }

.Rounded {
	border-radius: var(--border-radius); }

.Card {
	overflow: hidden;
	transition-property: box-shadow;
	border-radius: var(--border-radius);
	background-color: var(--elevated-color);
	transition-duration: var(--transition-duration);
	box-shadow:
		0 0 4rem rgba(#212121, 0.14),
		0 0 3rem -2rem rgba(#212121, 0.12),
		0 0 8rem rgba(#212121, 0.2);
	&:hover {
		box-shadow:
			0 0 10rem rgba(#212121, 0.14),
			0 0 18rem rgba(#212121, 0.12),
			0 0 5rem -1rem rgba(#212121, 0.2); } }

.Hover {
	cursor: pointer;
	transition: var(--transition-duration) background-color;
	&:hover {
		background-color: var(--hover-color); } }

.ItemBorder {
	border-bottom-width: var(--border-width);
	border-bottom-style: var(--border-style);
	border-bottom-color: var(--border-color);
	&:last-child {
		border-bottom: 0; } }

.UpperCase {
	text-transform: uppercase; }

.LightColor {
	color: var(--text-color-light); }

.LightWeight {
	font-weight: 400; }

.FullWidthAndHeight {
	width: 100%;
	height: 100%; }

.PaddingTriple {
	padding: var(--space-triple); }
.PaddingDouble {
	padding: var(--space-double); }
.Padding {
	padding: var(--space); }
.PaddingThreeQuart {
	padding: var(--space-three-quart); }
.PaddingHalf {
	padding: var(--space-half); }
.PaddingQuart {
	padding: var(--space-quart); }
.PaddingFifth {
	padding: var(--space-fifth); }
.PaddingTopBottomDouble {
	padding: var(--space) 0; }
.PaddingTopBottom {
	padding: var(--space) 0; }
.PaddingTopBottomHalf {
	padding: var(--space-half) 0; }
.PaddingTopBottomQuart {
	padding: var(--space-quart) 0; }
.PaddingLeftRight {
	padding: 0 var(--space); }
.PaddingLeftRightHalf {
	padding: 0 var(--space-half); }
.PaddingLeftRightQuart {
	padding: 0 var(--space-quart); }
.PaddingTop {
	padding-top: var(--space); }
.PaddingRight {
	padding-right: var(--space); }
.PaddingBottom {
	padding-bottom: var(--space); }
.PaddingLeft {
	padding-left: var(--space); }
.PaddingTopHalf {
	padding-top: var(--space-half); }
.PaddingRightHalf {
	padding-right: var(--space-half); }
.PaddingBottomHalf {
	padding-bottom: var(--space-half); }
.PaddingLeftHalf {
	padding-left: var(--space-half); }
.PaddingTopQuart {
	padding-top: var(--space-quart); }
.PaddingRightQuart {
	padding-right: var(--space-quart); }
.PaddingBottomQuart {
	padding-bottom: var(--space-quart); }
.PaddingLeftQuart {
	padding-left: var(--space-quart); }

.MarginTriple {
	margin: var(--space-triple); }
.MarginDouble {
	margin: var(--space-double); }
.Margin {
	margin: var(--space); }
.MarginThreeQuart {
	margin: var(--space-three-quart); }
.MarginHalf {
	margin: var(--space-half); }
.MarginQuart {
	margin: var(--space-quart); }
.MarginTopBottomDouble {
	padding: var(--space) 0; }
.MarginTopBottom {
	margin: var(--space) 0; }
.MarginTopBottomHalf {
	margin: var(--space-half) 0; }
.MarginTopBottomQuart {
	margin: var(--space-quart) 0; }
.MarginLeftRight {
	margin: 0 var(--space); }
.MarginLeftRightHalf {
	margin: 0 var(--space-half); }
.MarginLeftRightQuart {
	margin: 0 var(--space-quart); }
.MarginTop {
	margin-top: var(--space); }
.MarginRight {
	margin-right: var(--space); }
.MarginBottom {
	margin-bottom: var(--space); }
.MarginLeft {
	margin-left: var(--space); }
.MarginTopHalf {
	margin-top: var(--space-half); }
.MarginRightHalf {
	margin-right: var(--space-half); }
.MarginBottomHalf {
	margin-bottom: var(--space-half); }
.MarginLeftHalf {
	margin-left: var(--space-half); }
.MarginTopQuart {
	margin-top: var(--space-quart); }
.MarginRightQuart {
	margin-right: var(--space-quart); }
.MarginBottomQuart {
	margin-bottom: var(--space-quart); }
.MarginLeftQuart {
	margin-left: var(--space-quart); }

.Flex {
	display: flex; }
.FlexColumn {
	display: flex;
	flex-direction: column; }
.FlexColumnGap {
	display: flex;
	gap: var(--space);
	flex-direction: column; }
.FlexColumnGapHalf {
	display: flex;
	flex-direction: column;
	gap: var(--space-half); }
.FlexColumnGapQuart {
	display: flex;
	flex-direction: column;
	gap: var(--space-quart); }
.FlexList {
	display: flex;
	align-items: center; }
.FlexListGapHalfCenter {
	display: flex;
	align-items: center;
	justify-content: center; }
.FlexListSpaceEvenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly; }
.FlexListSpaceAround {
	display: flex;
	align-items: center;
	justify-content: space-around; }
.FlexListSpaceBetween {
	display: flex;
	align-items: center;
	justify-content: space-between; }
.FlexListGap {
	display: flex;
	gap: var(--space);
	align-items: center; }
.FlexListGapHalf {
	display: flex;
	align-items: center;
	gap: var(--space-half); }
.FlexListGapQuart {
	display: flex;
	align-items: center;
	gap: var(--space-quart); }
.FlexListGapFifth {
	display: flex;
	align-items: center;
	gap: var(--space-fifth); }
.FlexListCenter {
	display: flex;
	align-items: center;
	justify-content: center; }
.FlexListGapCenter {
	display: flex;
	gap: var(--space);
	align-items: center;
	justify-content: center; }
.FlexListGapHalfCenter {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: center; }
.FlexListGapQuartCenter {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: center; }
.FlexListRight {
	display: flex;
	align-items: center;
	justify-content: flex-end; }
.FlexListRightGap {
	display: flex;
	gap: var(--space);
	align-items: center;
	justify-content: flex-end; }
.FlexListRightGapHalf {
	display: flex;
	align-items: center;
	gap: var(--space-half);
	justify-content: flex-end; }
.FlexListRightGapQuart {
	display: flex;
	align-items: center;
	gap: var(--space-quart);
	justify-content: flex-end; }

.HeadingOne {
	font-size: 96rem;
	font-weight: 300;
	letter-spacing: -1.5rem; }
.HeadingOneInverted {
	font-weight: 300;
	font-size: 96rem;
	letter-spacing: -1.5rem;
	color: var(--text-color-inverted); }
.HeadingTwo {
	font-weight: 300;
	font-size: 60rem;
	letter-spacing: -0.5rem; }
.HeadingTwoInverted {
	font-weight: 300;
	font-size: 60rem;
	letter-spacing: -0.5rem;
	color: var(--text-color-inverted); }
.HeadingThree {
	font-size: 48rem;
	letter-spacing: 0; }
.HeadingThreeInverted {
	font-size: 48rem;
	letter-spacing: 0;
	color: var(--text-color-inverted); }
.HeadingFour {
	font-size: 34rem;
	letter-spacing: 0.25rem; }
.HeadingFourInverted {
	font-size: 34rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted); }
.HeadingFive {
	font-size: 24rem;
	letter-spacing: 0; }
.HeadingFiveInverted {
	font-size: 24rem;
	letter-spacing: 0;
	color: var(--text-color-inverted); }
.HeadingSix {
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.15rem; }
.HeadingSixInverted {
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.15rem;
	color: var(--text-color-inverted); }
.BodyOne {
	font-size: 16rem;
	letter-spacing: 0.5rem; }
.BodyOneBold {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold); }
.BodyOneLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-light); }
.BodyOneInverted {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-inverted); }
.BodyOneBoldLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }
.BodyTwo {
	font-size: 14rem;
	letter-spacing: 0.25rem; }
.BodyTwoBold {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold); }
.BodyTwoLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-light); }
.BodyTwoInverted {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted); }
.BodyTwoBoldLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }

.Border {
	border-width: var(--border-width);
	border-style: var(--border-style);
	border-color: var(--border-color); }
.BorderTop {
	border-top-width: var(--border-width);
	border-top-style: var(--border-style);
	border-top-color: var(--border-color); }
.BorderRight {
	border-right-width: var(--border-width);
	border-right-style: var(--border-style);
	border-right-color: var(--border-color); }
.BorderBottom {
	border-bottom-width: var(--border-width);
	border-bottom-style: var(--border-style);
	border-bottom-color: var(--border-color); }
.BorderLeft {
	border-left-width: var(--border-width);
	border-left-style: var(--border-style);
	border-left-color: var(--border-color); }