.BodyOne {
	font-size: 16rem;
	letter-spacing: 0.5rem; }
.BodyOneBold {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold); }
.BodyOneLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-light); }
.BodyOneInverted {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-inverted); }
.BodyOneBoldLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }
.BodyTwo {
	font-size: 14rem;
	letter-spacing: 0.25rem; }
.BodyTwoBold {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold); }
.BodyTwoLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-light); }
.BodyTwoInverted {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted); }
.BodyTwoBoldLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold);
	color: var(--text-color-light); }