@charset "utf-8";

@import "./variables";
@import "./normalize";
@import "./utilities";
@import "./padding";
@import "./margin";
@import "./border";
@import "./flex";
@import "./text";
@import "./heading";
@import "./paragraph";
@import "./ui";

html {
	font-size: 1px;
	color: var(--text-color);
	box-sizing: var(--box-sizing);
	line-height: var(--line-height);
	font-family: var(--font-family);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	@media (max-width: 700px) {
		font-size: 0.9px;
	}
	@media (max-width: 400px) {
		font-size: 0.8px;
	}
	@media (max-width: 350px) {
		font-size: 0.7px;
	}
	@media (max-width: 300px) {
		font-size: 0.6px;
	}
}

*,
*::after,
*::before {
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit;
}

#Root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
