.MarginTriple {
	margin: var(--space-triple); }
.MarginDouble {
	margin: var(--space-double); }
.Margin {
	margin: var(--space); }
.MarginThreeQuart {
	margin: var(--space-three-quart); }
.MarginHalf {
	margin: var(--space-half); }
.MarginQuart {
	margin: var(--space-quart); }
.MarginFifth {
	margin: var(--space-fifth); }

.MarginTopBottomDouble {
	margin: var(--space-double) 0; }
.MarginTopBottom {
	margin: var(--space) 0; }
.MarginTopBottomThreeQuart {
	margin: var(--space-three-quart) 0; }
.MarginTopBottomHalf {
	margin: var(--space-half) 0; }
.MarginTopBottomQuart {
	margin: var(--space-quart) 0; }

.MarginLeftRightDouble {
	margin: 0 var(--space-double); }
.MarginLeftRight {
	margin: 0 var(--space); }
.MarginLeftRightThreeQuart {
	margin: 0 var(--space-three-quart); }
.MarginLeftRightHalf {
	margin: 0 var(--space-half); }
.MarginLeftRightQuart {
	margin: 0 var(--space-quart); }

.MarginTopDouble {
	margin-top: var(--space-double); }
.MarginTopOneHalf {
	margin-top: var(--space-one-half); }
.MarginTop {
	margin-top: var(--space); }
.MarginTopThreeQuart {
	margin-top: var(--space-three-quart); }
.MarginTopHalf {
	margin-top: var(--space-half); }
.MarginTopQuart {
	margin-top: var(--space-quart); }

.MarginRightDouble {
	margin-right: var(--space-double); }
.MarginRightOneHalf {
	margin-right: var(--space-one-half); }
.MarginRight {
	margin-right: var(--space); }
.MarginRightThreeQuart {
	margin-right: var(--space-three-quart); }
.MarginRightHalf {
	margin-right: var(--space-half); }
.MarginRightQuart {
	margin-right: var(--space-quart); }

.MarginBottomDouble {
	margin-bottom: var(--space-double); }
.MarginBottomOneHalf {
	margin-bottom: var(--space-one-half); }
.MarginBottom {
	margin-bottom: var(--space); }
.MarginBottomThreeQuart {
	margin-bottom: var(--space-three-quart); }
.MarginBottomHalf {
	margin-bottom: var(--space-half); }
.MarginBottomQuart {
	margin-bottom: var(--space-quart); }

.MarginLeftDouble {
	margin-left: var(--space-double); }
.MarginLeftOneHalf {
	margin-left: var(--space-one-half); }
.MarginLeft {
	margin-left: var(--space); }
.MarginLeftThreeQuart {
	margin-left: var(--space-quart); }
.MarginLeftHalf {
	margin-left: var(--space-half); }
.MarginLeftQuart {
	margin-left: var(--space-three-quart); }