span {
	display: inline-block; }

a,
button {
	border: 0;
	outline: none;
	text-decoration: none;
	background-color: transparent; }
a:hover,
button:hover {
	outline: none;
	text-decoration: none;
	background-color: transparent; }
a:focus,
button:focus {
	outline: none;
	text-decoration: none;
	background-color: transparent; }
a:hover,
button:focus {
	outline: none;
	text-decoration: none;
	background-color: transparent; }