.PaddingTriple {
	padding: var(--space-triple); }
.PaddingDouble {
	padding: var(--space-double); }
.PaddingOneHalf {
	padding: var(--space-one-half); }
.Padding {
	padding: var(--space); }
.PaddingThreeQuart {
	padding: var(--space-three-quart); }
.PaddingHalf {
	padding: var(--space-half); }
.PaddingQuart {
	padding: var(--space-quart); }
.PaddingFifth {
	padding: var(--space-fifth); }

.PaddingTopBottomDouble {
	padding: var(--space-double) 0; }
.PaddingTopBottom {
	padding: var(--space) 0; }
.PaddingTopBottomHalf {
	padding: var(--space-half) 0; }
.PaddingTopBottomQuart {
	padding: var(--space-quart) 0; }

.PaddingLeftRightDouble {
	padding: 0 var(--space-double); }
.PaddingLeftRight {
	padding: 0 var(--space); }
.PaddingLeftRightHalf {
	padding: 0 var(--space-half); }
.PaddingLeftRightQuart {
	padding: 0 var(--space-quart); }

.PaddingTopDouble {
	padding-top: var(--space-double); }
.PaddingTopOneHalf {
	padding-top: var(--space-one-half); }
.PaddingTop {
	padding-top: var(--space); }
.PaddingTopThreeQuart {
	padding-top: var(--space-three-quart); }
.PaddingTopHalf {
	padding-top: var(--space-half); }
.PaddingTopQuart {
	padding-top: var(--space-quart); }

.PaddingRightDouble {
	padding-right: var(--space-double); }
.PaddingRightOneHalf {
	padding-right: var(--space-one-half); }
.PaddingRight {
	padding-right: var(--space); }
.PaddingRightThreeQuart {
	padding-right: var(--space-three-quart); }
.PaddingRightHalf {
	padding-right: var(--space-half); }
.PaddingRightQuart {
	padding-right: var(--space-quart); }

.PaddingBottomDouble {
	padding-bottom: var(--space-double); }
.PaddingBottomOneHalf {
	padding-bottom: var(--space-one-half); }
.PaddingBottom {
	padding-bottom: var(--space); }
.PaddingBottomThreeQuart {
	padding-bottom: var(--space-three-quart); }
.PaddingBottomHalf {
	padding-bottom: var(--space-half); }
.PaddingBottomQuart {
	padding-bottom: var(--space-quart); }

.PaddingLeftDouble {
	padding-left: var(--space-double); }
.PaddingLeftOneHalf {
	padding-left: var(--space-one-half); }
.PaddingLeft {
	padding-left: var(--space); }
.PaddingLeftThreeQuart {
	padding-left: var(--space-three-quart); }
.PaddingLeftHalf {
	padding-left: var(--space-half); }
.PaddingLeftQuart {
	padding-left: var(--space-quart); }