.ParagraphOne {
	font-size: 16rem;
	letter-spacing: 0.5rem;
}

.ParagraphOneBold {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold);
}

.ParagraphOneLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-light);
}

.ParagraphOneInverted {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	color: var(--text-color-inverted);
}

.ParagraphOneBoldLight {
	font-size: 16rem;
	letter-spacing: 0.5rem;
	font-weight: var(--bold);
	color: var(--text-color-light);
}

.ParagraphTwo {
	font-size: 14rem;
	letter-spacing: 0.25rem;
}

.ParagraphTwoBold {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold);
}

.ParagraphTwoLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-light);
}

.ParagraphTwoInverted {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	color: var(--text-color-inverted);
}

.ParagraphTwoBoldLight {
	font-size: 14rem;
	letter-spacing: 0.25rem;
	font-weight: var(--bold);
	color: var(--text-color-light);
}
