.UpperCase {
	text-transform: uppercase; }
.LowerCase {
	text-transform: lowercase; }

.LightWeight {
	font-weight: 400; }
.LightColor {
	color: var(--text-color-light); }

.Link {
	color: #0052cc;
	&:hover {
		text-decoration: underline; } }

.Center {
	text-align: center; }